// .container {
//     width: 100%;
// }
// .write {
//     width: 50%;
//     height: 50px;
// }

// .read {
//     width: 50%;
//     height: 50px;
// }

.container {
    display: flex;
}

.readContainer {
    flex: 1;
    color: blanchedalmond;
}

.writeContainer {
    flex: 1;
    color: blanchedalmond;

}